<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--经验证，下面两句必须放在此文件而不能放在springmvc-servlet.xml文件中!-->
    <!--自动将@Component,@Controller等注册为bean-->
    <context:component-scan base-package="com.univ.controller"/>
    <context:component-scan base-package="com.univ.exception"/>
    <context:component-scan base-package="com.univ.task"/>
    <context:component-scan base-package="com.univ.service"/>

    <!--支持@RequestMapping的请求方式-->
    <mvc:annotation-driven/>

    <!--开启对@Async and @Scheduled的支持-->
    <task:annotation-driven/>

    <!--使用bean validation校验path variable或者request param时需要-->
    <bean id="methodValidationPostProcessor" class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

</beans>